
@font-face {
  font-family: 'iconfont';  /* project id 573061 */
  src: url('https://at.alicdn.com/t/font_573061_fxplpx9lzdqdunmi.eot');
  src: url('https://at.alicdn.com/t/font_573061_fxplpx9lzdqdunmi.eot?#iefix') format('embedded-opentype'),
  url('https://at.alicdn.com/t/font_573061_fxplpx9lzdqdunmi.woff') format('woff'),
  url('https://at.alicdn.com/t/font_573061_fxplpx9lzdqdunmi.ttf') format('truetype'),
  url('https://at.alicdn.com/t/font_573061_fxplpx9lzdqdunmi.svg#iconfont') format('svg');
}
.two_content h4 {
    width: 35px;
    height: 2px;
    background-color: #2b6c8c;
    position: relative;
    top: 20px;
    left: 600px;
    z-index: 3;
}
.head_content_right_sousuo p{
	font-size: 13px;
	color: #5c5c5c;
	font-family: 'iconfont'; 
	position: absolute;
	top: 6px;
	right: 10px;
	font-weight: bold;
}
.henggang_left_middle h5{
	font-size: 6px;
	text-align: center;
	font-family: 'iconfont'; 
	color: #858586;
	line-height: 36px;
}#head{
	width: 100%;
	height: 80px;
	background-color: #fafafa;
}
.head_content{
	width: 1200px;
	height: 100%;
	margin: 0 auto;
	
	
}
.head_content_left{
	float: left;
	margin-left: 7px;
	

}
.head_content_left img{
	width: 56px;
	height: 59px;
	margin-top: 9px;
	float: left;
	display:block; 
}
.head_content_biaoti{
	width: 50px;
	height: 48px;
	padding: 17px 0 15px 4px;
	font-size: 20px;
	font-family: "Microsoft Yahei";
	font-weight: normal;
	color: #2b6c8c;
	float: left;
}
.head_content_middle{
	float: left;
	margin-left: 280px;
}
.head_content_right{
	float: right;
	margin-right: 40px;
}
.head_content_middle_caidan{
	font-size: 14px;
	font-family: "Microsoft Yahei";
	margin-right: 40px;
	color: #484848;
	line-height: 80px;
	float: left;
}
.head_content_middle_caidan1{
	color: #2b6c8c;
	float: left;
	font-size: 14px;
	font-family: "Microsoft Yahei";
	line-height: 28px;
}
.head_content_middle_caidan_xuanzhong{
	float: left;
	width: 90px;
	height: 28px;
	
	margin-top:26px;
	margin-right: 21px;
}
.head_content_middle_caidan_xuanzhong_left{
	width: 8px;
	height: 8px;
	margin-right: 8px;
	border-width: 1px 0 0 1px;
	border-color: #2b6c8c;
	border-style: solid;
	float: left;
}
.head_content_middle_caidan_xuanzhong_right{
	width: 8px;
	height: 8px;
	margin-left: 8px;
	border-width: 0 1px 1px 0;
	border-color: #2b6c8c;
	border-style: solid;
	float: left;
	margin-top: 19px;
}
.head_content_right_sousuo{
	width: 168px;
	height: 22px;
    border: 1px solid #c0c0c0;
    border-radius: 20px;
    margin-top: 26px;
    position: relative;
}
#two{
	width: 100%;
	height: 284px;
	background-color: #bdcbd4;
}
.two_content{
	width: 1200px;
	height: 100%;
	margin: 0 auto;
	
	position: relative;
}
.two_content p{
	font-size: 45px;
	font-family: "ARIAL";
	text-align: center;
	padding-top: 80px;
	color: #fff;
	font-weight: bolder;
}
.two_content img{
	width: 105px;
	height: 196px;
	bottom: 33px;
	position: absolute;
	left: 564px;
	z-index: 1;
}
.two_content span{
	 z-index: 2;
	 position: absolute;
	 top: 153px;
	 left: 521px;
     font-size: 39px;
     font-family: "Microsoft Yahei";
     color: #fff;
}
.henggang{
	width: 1200px;
	height: 70px;
	background-color: #2b6c8c;
	position: absolute;
	left: 0;
	bottom: -35px;
}
.henggang_left{
	width: 575px;
	height: 100%;
	background-color: #0b0b0d;
	float: left;
}
.henggang_middle{
	width: 5px;
	height: 100%;
	background-color:#f5c813;
	float: left;
}
.henggang_left_left{
	margin: 17px 0 17px 30px;
	float: left;
	width: 55px;
	height: 36px;

}

.shugang1{
	width: 2px;
	height: 32px;
	border: 1px solid #fff;
	
	
	border-radius: 20px;
	transform: rotate(180deg);
	float: left; 
   
}
.henggang_left_left h1{
	background-color: #fff;
}
.henggang_left_left h2{
	font-size: 18px;
	line-height: 18px;
	font-weight: normal;
	font-family: "Microsoft Yahei";
	color: #fff;
	margin-left: 8px;

}
.henggang_left_left h3{
	font-size: 13px;
	line-height: 13px;
	font-weight: normal;
	font-family: "ARIAL";
	color: #fff;
	margin-top: 4px;
	margin-left: 8px;
}
.henggang_left_middle{
	width: 75px;
	height: 36px;
	margin: 17px 0;
	float: left;
	

}
.henggang_left_right{
	height: 36px;
	margin: 17px 0;
	float: left;
	

}
.henggang_left_right h1{
	background-color: #fff;
}
.henggang_left_right h2{
	font-size: 18px;
	line-height: 18px;
	font-weight: normal;
	font-family: "Microsoft Yahei";
	color: #fff;
	margin-left: 8px;

}
.henggang_left_right h3{
	font-size: 13px;
	line-height: 13px;
	font-weight: normal;
	font-family: "ARIAL";
	color: #fff;
	margin-top: 4px;
	margin-left: 8px;
}
.zhuti_content_leftimg:hover,.zhuti_content_leftimg2:hover,.zhuti_content_leftimg1:hover{
	box-shadow: 0 10px 20px 2px #ccc;
}
.henggang img{
	position: absolute;
	left: 930px;
	top: -91px;
	z-index: 2;
	width:265px ;
	height:262px ;
}
.huangsefangkuang{
	width: 137px;
	height: 137px;
	background-color:rgba(255,234,5,.8);
	border: 1px solid #ffea05;
	border-radius: 10px;
	z-index: 3;
	position: absolute;
	left: 879px;
	bottom: -114px;
}
#three{
	width: 1200px;
	margin: 0 auto;
	
}  
.three_henggang{
	margin:69px 0 22px 30px ;
	width: 58px;
	border: 1px solid #5c5c5e;
	height: 2px;
	background-color:#5c5c5e; 
}  
.three_name{
	width: 100%;
	height: 24px;
	
	margin-left: 30px;
	margin-bottom: 12px;
} 
.yingwencuti{
	color:#5c5c5e;
	font-size: 24px;
	height: 24px;
	font-weight: bolder;
	float: left;
	font-family: "ARIAL";
}
.yingwenxiti{
	color:#5c5c5e;
	font-size: 24px;
	height: 24px;
	font-weight: normal;
	
	font-family: "ARIAL";
	margin-left: 15px;
}
.three_name_biaoti{
	padding-bottom: 12px;
	font-size: 24px;
	color: #333;
	font-weight: normal;
	font-family: "Microsoft Yahei";
	margin-left: 30px;
	border-bottom: 1px solid #e6e6e6;
}
.zhuti{
	
	width: 1200px;
	margin: 60px auto 0;
	
	
}
.zhuti_biaoti{
	margin-left: 30px;
	font-size: 24px;
	height: 28px;
	color: #637f8d;
	margin-bottom: 16px;
}
.zhuti_biaoti_yingwen{
	font-size: 12px;
	margin-left: 30px;
	height: 12px;
	color: #637f8d;
	font-weight: bold;
	margin-bottom: 9px;
	font-family: "ARIAL";
	
}
.zhuti_biaoti_yingwen1{
	font-size: 11px;
	margin-left: 30px;
	height: 11px;
	color: #7d7d7d;
	font-weight: normal;
	font-family: "ARIAL";
	margin-bottom: 90px;
}
.zhuti_content{
	margin-left: 30px;
	width: 1170px;
	
	height: 181px;
}
.zhuti_content_timu{
	width: 1170px;
	height: 16px;
	

}
.zhuti_content_timu_fangkuang{
	width: 9px;
	height: 9px;
	background-color: #333;
	float: left;
	margin-right: 14px;
	margin-top: 3.5px;
}

.zhuti_content_timu_biaoti1{
	font-size: 16px;
	line-height: 16px;
	float: left;
	font-family: "ARIAL";
	color: #c3c3c3;
	font-weight: normal;
}
.zhuti_content_wenzhang{
	margin-top: 26px;
	margin-left: 23px;
	font-size: 13px;
	font-weight: normal;
	font-family: "Microsoft Yahei";
	color: #7a7a7a;
	width: 845px;
	margin-bottom: 37px;
}
.zhuti_content_wenzhang1{
	margin-top: 37px;
	margin-left: 23px;
	font-size: 13px;
	font-weight: normal;
	font-family: "Microsoft Yahei";
	color: #7a7a7a;
	width: 845px;
	margin-bottom: 40px;
}
.zhuti_content_leftimg{
	width: 697px;
	height: 392px;
	float: left;
	display: block;
	margin-right: 15px;
	border: 4px solid #fff;
}
.zhuti_content_img{
	width: 1170px;
	transition: all .6s linear;
	margin-top:40px;
	margin-bottom: 74px;
	height: 400px;
	margin-left: 30px;
}
.fenxiang_middle img{
	width: 30px;
	height: 30px;
	margin: 18px 20px 18px 0;
}
.fenxiang_right_left p{
	margin:28px 10px 0 8px;
	font-size: 14px;
	font-family: "Microsoft Yahei";
	color: #636361;
	float: left;
}
.fenxiang_right_right{
	margin-left: 40px;
	width: 218px;
    height: 68px;
	float: left;
	transition: all .6s linear;
}
.fenxiang_right_right:hover,.fenxiang_right_left:hover{
	box-shadow: 0 10px 20px 5px #ccc;
} 
.fenxiang_right_right span{
	margin: 28px 0 0 10px;
	font-size: 14px;
	font-family: "Microsoft Yahei";
	color: #636361;
	float: left; 
	
}

.fenxiang_right_right p{
	margin:28px 10px 0 8px;
	font-size: 14px;
	font-family: "Microsoft Yahei";
	color: #636361;
	display: block;
	float: left;
}
.fenxiang_right_left span{
	margin: 28px 0 0 10px;
	font-size: 14px;
	font-family: "Microsoft Yahei";
	color: #636361;
	float: left; 

}
.shugang{
	width: 2px;
	height: 7px;
	background-color: #333;
	margin-top: 35px;
	
	
	float: left;
}
.fenxiang_right_left{
	width: 218px;
	height: 68px;
	transition: all .6s linear;
	border-right: 2px solid #f5c813;
	float: left;
	

}
.fenxiang_right{
	float: left;
	
}
.fenxiang_middle{
	margin-right: 375px;
	float: left;
}
.fenxiang_left{
	margin: 18px 35px 18px 38px;
	float: left;
}
.fenxiang_left span{
	
	font-size: 10px;
	color: #5d5d5d;
	font-family:"ARIAL"; 

}
.fenxiang_left p{
	font-size: 12px;
	font-family:"Microsoft Yahei"; 
	color: #b5b5b5;
}
.zhuti_content_img1{
	margin-top: 60px;
	margin-bottom: 70px;
	width: 1170px;
	height: 397px;
	margin-left: 30px;
	transition: all .s linear;
}
.zhuti_content_leftimg2{
	width: 426px;
	height: 392px;
	float: left;
	display: block;
	border: 4px solid #fff;
	
}
.zhuti_content_leftimg1{
	width: 698px;
	height: 389px;
	
	border: 4px solid #fff;
}
.fenxiang{
	width: 1170px;
	margin-left: 30px;
	border-width: 1px 0;
	border-style: solid;
	border-color: #333;
	margin-top: 50px;
	height: 68px;
	
}
.pinglun{
	width: 1170px;
	
	margin-top: 42px;
	margin-left: 30px;
}
.pinglun_henggang{
	width: 47px;
	height: 4px;
	background-color: #296c89;
	
	margin-bottom: 20px;
}
.pinglun_wenzi{
	font-size: 30px;
	height: 35px;
	float: left;
	color: #333;
	font-weight: bolder;
	display: block;
	 
}
.pinglun_yuan{
	width: 5px;
	height: 5px;
	border-radius: 50%;
	
	margin-left: 8px;
	margin-right: 8px;
	margin-top: 20px;
	float: left;
	background-color: #2b6e8b;
}
.pinglun_wenzi1{
	font-weight: normal;
	color: #6a6a6a;
}
.pinglun_biaoti{
	width: 100%;
	height: 35px;
	margin-bottom: 15px;
}
.pinglun_yingwen{
	height: 23px;
	width: 100%;
	
}
.pinglun_yingwen1{
	font-size: 23px;
	color: #2b6d8d;
	font-weight: bolder;
	font-family: "ARIAL";
	float: left;
}
.pinglun_yingwen2{
	font-size: 23px;
	color: #7d7d7d;
	font-weight: normal;
	font-family: "ARIAL";
	float: left;
}
.introduce{
	width: 100%;
	
	margin-top:45px ;
	height: 325px;
}
.introduce_left{
	width: 119px;
    margin-left: 39px;
	float: left;
	height: 325px;
	margin-bottom: 36px;
}
.introduce_left img{
	width: 119px;
	height: 119px;
}
.introduce_right{
	margin-left: 48px;
	float: left;
	width: 912px;
	
}
.introduce_right_top{
	height: 110px;
}
.introduce_right_name{
	margin-top: 28px;
	font-size: 20px;
	font-weight: normal;
	font-family: "Microsoft Yahei";
	color: #a2a2a2;
	height: 25px;
	margin-bottom: 10px;
}
.introduce_right_name1{
	font-size: 21px;
	font-weight: normal;
	font-family: "Microsoft Yahei";
	color: #333;
	height: 25px;
	float: left;
}
.introduce_right_name2{
	font-size: 17px;
	font-weight: normal;
	font-family: "Microsoft Yahei";
	color: #7a7a7a;
	height: 25px;
	float: left;
	margin-left: 492px;
}
.introduce_right_bottom{
	width: 957px;
	height: 185px;
	border: 1px solid #7a7a7a;
	
}
.introduce_right_bottom_duanluo{
	padding: 45px 58px 50px 45px;
	font-size: 20px;
	font-weight: normal;
	font-family: "Microsoft Yahei";
	width: 800px;
	height: 127px;
	color: #a2a2a2;
}
.introduce1{
	margin-top: 36px;
}
.introduce2{
	margin-bottom: 0;
}
.fanye{
	width: 1200px;
	height: 125px;
	margin: 0 auto;
	background-color: pink;
}

#five{
	width: 1200px;
	margin: 80px auto;
	height: 24px;
	
	line-height: 24px;
	text-align: center;
}
.dive_left{
	font-size: 24px;
	color: #4e4e4e;
	margin-right: 26px;
	line-height: 24px;
	text-align: center;
    float: left;
    margin-left: 439px;
}
.dive_middle{
	width: 24px;
	height: 24px;
	border-radius: 50%;
	background-color: #e2e6e5;
	float: left;
	color: #174f6a;
	margin-right: 26px;
}
.dive_middle1{
	width: 24px;
	height: 24px;
	border-radius: 50%;
	background-color: #174f6a;
	float: left;
	color: #e2e6e5;
	margin-right: 26px;
}
.dive_middle2{
	
	float: left;
	color: #7e94a1;
	margin-right: 26px;
	line-height: 24px;
}
.dive_left1{
	margin-left: 0;
}
.juxingkuang{
	width: 733px;
	height: 306px;
	background-color: #adc4d2;
	margin-top: 59px;
	margin-right: 127px;
	float: right;
	position: absolute;
}
.juxingkuang1{
	font-size:41px;
	font-family: "ARIAL";
	position:relative;
	left: 26px;
	top: -21px;
}

.bottom_content_bottom_right_left p {
    font-size: 14px;
    font-family: "Microsoft Yahei";
    color: #ffffff;
    height: 14px;
}
.bottom_content_bottom_right_left h1 {
    font-size: 10px;
    font-family: "SAN FRANCISCO DISPLAY";
    color: #8096a3;
    height: 10px;
}

.bottom_content_bottom_right_left_bottom ul {
    float: left;
    margin-right: 65px;
}
.bottom_content_bottom_right_left_bottom ul li {
    font-size: 14px;
    margin-bottom: 16px;
    color: #fff;
    height: 14px;
}
.bottom_content_bottom_right_right {
    margin-left: 87px;
    float: left;
    height: 160px;
    width: 161px;
    
    padding-top: 8px;
}
.bottom_content_bottom_right_right p {
    font-size: 14px;
    font-family: "Microsoft Yahei";
    color: #ffffff;
    height: 14px;
}
.bottom_content_bottom_right_right h1 {
    font-size: 10px;
    font-family: "SAN FRANCISCO DISPLAY";
    color: #8096a3;
    height: 10px;
}

.bottom_content_bottom_right_right span {
    margin-top: 28px;
    font-size: 12px;
    color: #fff;
}
#o {
    margin-right: 0;
}
#bottom{
	width: 100%;
	height: 520px;
	margin-top: 80px;
	background-color: #235975;
}
.bottom_content{
	width: 1200px;
	height: 520px;
	margin: 0 auto;
}
#zuidibu{
	width: 100%;
	height: 32px;
	text-align: center;
	background-color: #191919;
	padding-top: 14px;
	padding-bottom: 10px;
}
#zuidibu p{
	font-size: 11px;
	font-weight: normal;
	color: #7b7b7b;
	font-family: "Microsoft Yahei";
	text-align: center;
	line-height: 16px;
}
.bottom_content_top{
	width: 1000px;
	height: 160px;
	padding-top: 72px;
	
	margin: 0 auto;
	position: relative;
}
.bottom_content_top_img{
	width: 1000px;
	height: 160px;
}
.bottom_content_top_img1{
	width: 25px;
	height: 39px;
	position: absolute;
	top: 124px;
	left: 294px;
}
.yuanjiao{
	width: 296px;
	height: 70px;
	border-radius: 8px;
	background-color: #2b6c8c;
	position: absolute;
	top: 113px;
	left: 359px;
}
.yuanjiao_address{
	font-size: 14px;
	font-family: "Microsoft Yahei";
	color: #fff;
	/* letter-spacing: 26px; */
	font-style: normal;
	line-height: 14px;
	margin-left: 24px;
	margin-top: 15px;
}
.yuanjiao_address1{
	font-size: 14px;
	font-family: "Microsoft Yahei";
	color: #fff;
	/* letter-spacing: 20px; */
	font-style: normal;
	line-height: 14px;
	margin-left: 24px;
	margin-top: 15px;
}
.bottom_content_bottom{
	width: 1000px;
	height: 168px;
	
	margin: 43px auto 0;
}
.bottom_content_bottom_left{
	width: 384px;
	height: 100%;
	 position: relative;
	float: left; position: relative;
}
.wenbenkuang{
	width: 164px;
	height: 22px;
	background-color: #fff;
	float: left;
	color: #d3d4d6;
	font-size: 14px;
    font-family: "Microsoft Yahei";
    border: 0;
  	padding-left: 20px;
  	padding-top: 8px;
  	line-height: 14px;
}
.wenbenkuang1{
	margin-left: 11px;
}
.wenbenkuang2{
	width: 358px;
	height: 110px;
	margin-top: 12px;
	color: #b2b2b2;
	font-size: 14px;
    font-family: "Microsoft Yahei";
    border: 0;
    padding-left: 20px;
    padding-top: 16px;
    line-height: 14px;

}
.bottom_content_bottom_juxing{
	bottom: 13px;
	right: 24px;
	position: absolute;
	width: 25px;
	height: 25px;
	background-color: #2b6c8c;
}
.bottom_content_bottom_juxing1{
	bottom: 13px;
	right: 49px;
	position: absolute;
	width: 43px;
	height: 2px;
	background-color: #88adbf;
}
.bottom_content_bottom_wenzi{
	bottom: 20px;
	right: 59px;
	position: absolute;
	font-size: 10px;
	font-weight: bold;
	color: #2d6c8f;
}
.bottom_content_bottom_juxing p{
	color: #fff;
	text-align: center;
	line-height: 25px;
	font-size: 8px;
	font-weight: bold;
}
.bottom_content_bottom_right{
	margin-left: 70px;
	float: left;
	width: 546px;
	height: 100%;
	
}
.juxingkuang{
	width: 733px;
	height: 306px;
	background-color: #adc4d2;
	margin-top: 59px;
	margin-right: 127px;
	float: right;
	position: absolute;
}
.juxingkuang1{
	font-size:41px;
	font-family: "ARIAL";
	position:relative;
	left: 26px;
	top: -21px;
	
}

.bottom_content_bottom_right_left p{
	font-size: 14px;
	font-family: "Microsoft Yahei";
	color: #ffffff;
	height: 14px;
	/* float: left; */
	margin-bottom: 7px;
}
.bottom_content_bottom_right_right p {
	font-size: 14px;
	font-family: "Microsoft Yahei";
	color: #ffffff;
	height: 14px;
	margin-bottom: 7px;
	
}
.bottom_content_bottom_right_left h1{
	font-size: 10px;
	font-family: "SAN FRANCISCO DISPLAY";
	color: #8096a3;
	height: 10px;
	
}
.bottom_content_bottom_right_left{
	width: 298px;
	height: 160px;
	padding-top: 4px;
	float: left;
	
}
.bottom_content_bottom_right_left_bottom{
	margin-top: 24px;
	width: 100%;
	height: 117px;
	
}
.bottom_content_bottom_right_left_bottom ul {
	float: left;
	margin-right: 65px;
}
.bottom_content_bottom_right_left_bottom ul li{
	font-size: 14px;
	margin-bottom: 16px;
	color: #fff;
	height: 14px;
}
#o{
	margin-right: 0;
}
.bottom_content_bottom_right_right{
	margin-left: 87px;
	float: left;
	height: 160px;
	width: 161px;
	
	padding-top: 4px;
}
.bottom_content_bottom_right_right h1{
	font-size: 10px;
	font-family: "SAN FRANCISCO DISPLAY";
	color: #8096a3;
	height: 10px;
}
.bottom_content_bottom_right_right_img{
	width: 30px;
	height: 30px;
	
	margin-top: 36px;
	margin-left: 8px;
}
.bottom_content_bottom_right_right_img1{
	margin-left:20px;
}
.bottom_content_bottom_right_right span{
	margin-top: 28px;
	font-size: 12px;
	color: #fff;
}