@font-face {
  font-family: 'iconfont';  /* project id 573061 */
  src: url('https://at.alicdn.com/t/font_573061_fxplpx9lzdqdunmi.eot');
  src: url('https://at.alicdn.com/t/font_573061_fxplpx9lzdqdunmi.eot?#iefix') format('embedded-opentype'),
  url('https://at.alicdn.com/t/font_573061_fxplpx9lzdqdunmi.woff') format('woff'),
  url('https://at.alicdn.com/t/font_573061_fxplpx9lzdqdunmi.ttf') format('truetype'),
  url('https://at.alicdn.com/t/font_573061_fxplpx9lzdqdunmi.svg#iconfont') format('svg');
}
#head{
	width: 1366px;
	height: 80px;
	background-color: #fafafa;
	margin: 0 auto;
}
.head_content_right_sousuo p{
	font-size: 13px;
	color: #5c5c5c;
	font-family: 'iconfont'; 
	position: absolute;
	top: 6px;
	right: 10px;
	font-weight: bold;
}
.henggang_left_middle h5{
	font-size: 6px;
	text-align: center;
	font-family: 'iconfont'; 
	color: #858586;
	line-height: 36px;
}
.head_content{
	width: 1200px;
	height: 100%;
	margin: 0 auto;
	
	
}
.lingxing {
    width: 13px;
    height: 13px;
    background-color: #194e6d;
    transform: rotate(45deg);
    position: absolute;
    left: 130px;
    top: -6px;
}
.head_content_left{
	float: left;
	margin-left: 7px;
	

}
.head_content_left img{
	width: 56px;
	height: 59px;
	margin-top: 9px;
	float: left;
	display:block; 
}
.head_content_biaoti{
	width: 50px;
	height: 48px;
	padding: 17px 0 15px 4px;
	font-size: 20px;
	font-family: "Microsoft Yahei";
	font-weight: normal;
	color: #2b6c8c;
	float: left;
}
.head_content_middle{
	float: left;
	margin-left: 280px;
}
.head_content_right{
	float: right;
	margin-right: 40px;
}
.head_content_middle_caidan{
	font-size: 14px;
	font-family: "Microsoft Yahei";
	margin-right: 40px;
	color: #484848;
	line-height: 80px;
	float: left;
}
.head_content_middle_caidan1{
	color: #2b6c8c;
	float: left;
	font-size: 14px;
	font-family: "Microsoft Yahei";
	line-height: 28px;
}
.head_content_middle_caidan_xuanzhong{
	float: left;
	width: 90px;
	height: 28px;
	
	margin-top:26px;
	margin-right: 21px;
}
.head_content_middle_caidan_xuanzhong_left{
	width: 8px;
	height: 8px;
	margin-right: 8px;
	border-width: 1px 0 0 1px;
	border-color: #2b6c8c;
	border-style: solid;
	float: left;
}
.head_content_middle_caidan_xuanzhong_right{
	width: 8px;
	height: 8px;
	margin-left: 8px;
	border-width: 0 1px 1px 0;
	border-color: #2b6c8c;
	border-style: solid;
	float: left;
	margin-top: 19px;
}
.head_content_right_sousuo{
	width: 168px;
	height: 22px;
    border: 1px solid #c0c0c0;
    border-radius: 20px;
    margin-top: 26px;
    position: relative;
}
#two{
	width: 1366px;
	height: 284px;
	background-color: #bdcbd4;
	margin: 0 auto;

}
.two_content{
	width: 1200px;
	height: 100%;
	margin: 0 auto;
	
	position: relative;
	
}
.two_content p{
	font-size: 45px;
	font-family: "ARIAL";
	text-align: center;
	
	color: #fff;
	font-weight: bolder;
	position: absolute;
	margin-top: 79px;
	margin-left: 353px;
}
.two_content_img{
		width: 283px;
	height: 225px;
	margin-top: 33px;
	/* position: absolute; */
	margin-left: 500px;
	/* z-index: 0; */
}


.two_content span{
	 z-index: 2;
	 position: absolute;
	 top: 153px;
	 left: 521px;
     font-size: 39px;
     font-family: "Microsoft Yahei";
     color: #fff;
}
.henggang{
	width: 1200px;
	height: 70px;
	background-color: #2b6c8c;
	position: absolute;
	left: 0;
	bottom: -35px;
}
.henggang_left{
	width: 348px;
	height: 100%;
	background-color: #0b0b0d;
	float: left;
}
.henggang_middle{
	width: 5px;
	height: 100%;
	background-color:#f5c813;
	float: left;
}
.henggang_left_left{
	margin: 17px 0 17px 30px;
	float: left;
	width: 55px;
	height: 36px;

}

.shugang{
	width: 2px;
	height: 32px;
	border: 1px solid #fff;
	background-color:#fff; 
	
	border-radius: 20px;
	transform: rotate(180deg);
	float: left; 
   
}
.henggang_left_left h1{
	-webkit-text-fill-color: #fff;
}
.henggang_left_left h2{
	font-size: 18px;
	line-height: 18px;
	font-weight: normal;
	font-family: "Microsoft Yahei";
	color: #fff;
	margin-left: 8px;

}
.henggang_left_left h3{
	font-size: 13px;
	line-height: 13px;
	font-weight: normal;
	font-family: "ARIAL";
	color: #fff;
	margin-top: 4px;
	margin-left: 8px;
}
.henggang_left_middle{
	width: 75px;
	height: 36px;
	margin: 17px 0;
	float: left;
	

}
.henggang_left_right{
	height: 36px;
	margin: 17px 0;
	float: left;
	

}
.henggang_left_right h1{
	-webkit-text-fill-color: #fff;
}
.henggang_left_right h2{
	font-size: 18px;
	line-height: 18px;
	font-weight: normal;
	font-family: "Microsoft Yahei";
	color: #fff;
	margin-left: 8px;

}
.henggang_left_right h3{
	font-size: 13px;
	line-height: 13px;
	font-weight: normal;
	font-family: "ARIAL";
	color: #fff;
	margin-top: 4px;
	margin-left: 8px;
}
.two_content h4 {
    width: 35px;
    height: 2px;
    background-color: #2b6c8c;
    position: relative;
    top: 142px;
    left: 630px;
    z-index: 3;
}
.henggang img{
	position: absolute;
	left: 930px;
	top: -91px;
	z-index: 2;
	width:265px ;
	height:262px ;
}
.huangsefangkuang{
	width: 137px;
	height: 137px;
	background-color:rgba(255,234,5,.8);
	border: 1px solid #ffea05;
	border-radius: 10px;
	z-index: 3;
	position: absolute;
	left: 879px;
	bottom: -114px;

     
}
#three{
	height: 98px;
	
	width: 1200px;
	margin: 56px auto 0;
	
}
.three_top{
    width: 279px;
    height: 54px;
    border: 1px solid #bbbbbb;
    padding-top: 2px;
    margin-left: 461px;
    border-top: 0;
    position: relative;
}
.three_top p{
	font-size: 19px;
	line-height: 54px;
	font-weight: bold;
	font-family: "ARIAL";
	color: #184f6b;
	text-align: center;
}
#three h4{
	text-align: center;
	font-size: 21px;
	color: #333;
	margin-top: 4px;
	line-height: 21px;
    font-weight: normal;
   letter-spacing: 8px;
}
.three_bottom{
	float: left;
	margin-top: 10px; 
	width: 100%;
	height: 6px;
	}
#four{
	width: 993px;
	height: 474px;
	margin: 0 auto;
	
	margin-top: 40px;
	margin-bottom: 80px;
}
.four_left{
	width: 238px;
	height: 474px;
	background-color: yellow;
	float: left;
	margin-right: 19px;
}
.four_left img{
	width: 238px;
	height: 474px;
}
.four_right{
	
	height: 474px;
	width: 736px;
	transition: all .5s linear;
	float: left;
}
.four_right_item{
	width: 234px;
	height: 226px;
	margin-right: 14px;
	margin-bottom: 19px;
	border: 1px solid #ededed;
	float: left;
}
.four_right_item_left{
	width: 152px;
	height: 228px;
	background-color: red;	
	float: left;
}
.four_right_item_left img{
	width: 152px;
	height: 228px;
}
.four_right_item_right{
	width: 82px;
	height: 228px;
	
	 float: left;
}
.four_right_item_right_name{
	margin-top: 38px ;
	margin-right: 32px;
	margin-bottom: 6px;
	margin-left: 14px;
	color: #333;
	font-size: 9px;
	font-family: "ARIAL";
}
.four_right_item_right_name1{
	
	margin-right: 10px;
	margin-bottom: 68px;
	margin-left: 15px;
	color: #333;
	font-size: 19px;
	font-family: "Microsoft Yahei";
}
.four_right_item_right_bottom{
	margin-left: 15px;
	width: 67px;
	border-top: 1px solid #ededed;
	position: absolute;
}
.four_right_item_right_bottom_hangxian{
	position: relative;
	top: -1px;
	left: 0;
	width: 28px;
	height: 2px;
	border-top: 1px solid #333;
}
.four_right_item_right_bottom_des{
	font-size: 14px;
	margin-right: 10px;
	font-family: "Microsoft Yahei";
	color: #949494;

}
.four_right_item1{
	margin-right: 0;
}
.four_right_item2{
	margin-bottom: 0;
}
.four_left1{
	margin-right: 0; 
	margin-left: 19px;
}
#five{
	width: 1200px;
	height: 127px;
	margin: 100px auto 58px;
   
}
#five img{
	width: 1200px;
	height: 127px;
}
.seven{
	
	width: 1200px;
	margin: 34px auto 0;
	height: 346px;
}
.seven_item{
	margin-left: 92px;
	float: left;
	margin-bottom: 44px;
}
.seven_item_left{
   width: 132px;
   height: 151px;
   float: left;
   margin-right: 39px;
}
.seven_item_left img{
	 width: 132px;
   height: 151px;
}
.seven_item_right{
	float: left;
	width: 326px;
	height: 151px;
}
.seven_item_right_name{
	font-size: 36px;
	color: #737778;
	font-family: "Microsoft Yahei";
	margin-bottom:27px ;
	margin-top: 22px;
	width: 326px;
}
.seven_item_right_des{
	font-size: 18px;
	color: #c2c2c2;
	font-family: "Microsoft Yahei";
	margin-right: 90px;
	width: 326px;
}
.seven_item1{
	margin-left: 90px;
}
.seven_item2{
	margin-bottom: 0;
}
#eight{
	
	width: 1200px;
	height: 25px;
	
	margin: 38px auto 20px;
}
.zhuanye{
	width: 25px;
	height: 25px;
	margin-left: 542px;
	border-radius: 50%;
	line-height: 25px;
	background-color: #e5e5e5;
	position: relative;
	float: left;
}
.zhuanye span {
	position: absolute;
	top: 1px;
	left: 9px;
	font-size: 11px;
	font-family: "Microsoft Yahei";
	color: #767674;
	font-weight: bolder;

}
.zhuanye1{
	margin-left: 20px;
}
.zhuanye2{
	background-color: #245978;
	color: #f3f7fa;
}
#bottom{
	width: 1366px;
	height: 520px;
	margin: 80px auto 0;
	background-color: #235975;
}
.bottom_content{
	width: 1200px;
	height: 520px;
	margin: 0 auto;
}
#zuidibu{
	width: 1366px;
	height: 32px;
	text-align: center;
	background-color: #191919;
	padding-top: 14px;
	padding-bottom: 10px;
	margin: 0 auto;
}
#zuidibu p{
	font-size: 11px;
	font-weight: normal;
	color: #7b7b7b;
	font-family: "Microsoft Yahei";
	text-align: center;
	line-height: 16px;
}
.bottom_content_top{
	width: 1000px;
	height: 160px;
	padding-top: 72px;
	
	margin: 0 auto;
	position: relative;
}
.bottom_content_top_img{
	width: 1000px;
	height: 160px;
}
.bottom_content_top_img1{
	width: 25px;
	height: 39px;
	position: absolute;
	top: 124px;
	left: 294px;
}
.yuanjiao{
	width: 296px;
	height: 70px;
	border-radius: 8px;
	background-color: #2b6c8c;
	position: absolute;
	top: 113px;
	left: 359px;
}
.yuanjiao_address{
	font-size: 14px;
	font-family: "Microsoft Yahei";
	color: #fff;
	/* letter-spacing: 26px; */
	font-style: normal;
	line-height: 14px;
	margin-left: 24px;
	margin-top: 15px;
}
.yuanjiao_address1{
	font-size: 14px;
	font-family: "Microsoft Yahei";
	color: #fff;
	/* letter-spacing: 20px; */
	font-style: normal;
	line-height: 14px;
	margin-left: 24px;
	margin-top: 15px;
}
.bottom_content_bottom{
	width: 1000px;
	height: 168px;
	
	margin: 43px auto 0;
}
.bottom_content_bottom_left{
	width: 384px;
	height: 100%;
	
	float: left;
}
.wenbenkuang{
	width: 164px;
	height: 22px;
	background-color: #fff;
	float: left;
	color: #d3d4d6;
	font-size: 14px;
    font-family: "Microsoft Yahei";
    border: 0;
  	padding-left: 20px;
  	padding-top: 8px;
  	line-height: 22px;
}
.wenbenkuang1{
	margin-left: 11px;
}
.wenbenkuang2{
	width: 358px;
	height: 110px;
	margin-top: 12px;
	color: #b2b2b2;
	font-size: 14px;
    font-family: "Microsoft Yahei";
    border: 0;
    padding-left: 20px;
    padding-top: 16px;
    line-height: 14px;
}
.bottom_content_bottom_right{
	margin-left: 70px;
	float: left;
	width: 546px;
	height: 100%;
	
}
.juxingkuang{
	width: 733px;
	height: 306px;
	background-color: #adc4d2;
	margin-top: 59px;
	margin-right: 127px;
	float: right;
	position: absolute;
}
.juxingkuang1{
	font-size:41px;
	font-family: "ARIAL";
	position:relative;
	left: 26px;
	top: -21px;
	
}

.bottom_content_bottom_right_left p{
	font-size: 14px;
	font-family: "Microsoft Yahei";
	color: #ffffff;
	height: 14px;
	/* float: left; */
	margin-bottom: 7px;
}
.bottom_content_bottom_right_right p {
	font-size: 14px;
	font-family: "Microsoft Yahei";
	color: #ffffff;
	height: 14px;
	margin-bottom: 7px;
	
}
.bottom_content_bottom_right_left h1{
	font-size: 10px;
	font-family: "SAN FRANCISCO DISPLAY";
	color: #8096a3;
	height: 10px;
	
}
.bottom_content_bottom_right_left{
	width: 298px;
	height: 160px;
	padding-top: 4px;
	float: left;
	
}
.bottom_content_bottom_right_left_bottom{
	margin-top: 24px;
	width: 100%;
	height: 117px;
	
}
.bottom_content_bottom_right_left_bottom ul {
	float: left;
	margin-right: 65px;
}
.bottom_content_bottom_right_left_bottom ul li{
	font-size: 14px;
	margin-bottom: 16px;
	color: #fff;
	height: 14px;
}
#o{
	margin-right: 0;
}
.bottom_content_bottom_right_right{
	margin-left: 87px;
	float: left;
	height: 160px;
	width: 161px;
	
	padding-top: 4px;
}
.bottom_content_bottom_right_right h1{
	font-size: 10px;
	font-family: "SAN FRANCISCO DISPLAY";
	color: #8096a3;
	height: 10px;
}
.bottom_content_bottom_right_right_img{
	width: 30px;
	height: 30px;
	margin-bottom: 26px;
	margin-top: 36px;
	margin-left: 8px;
}
.bottom_content_bottom_right_right_img1{
	margin-left:20px;
}

.three_bottom p{
	margin-left: 552px;
	border: 1px solid #888888;
	width: 36px;
	float: left;
	
	margin-top: 2px;
}
.three_bottom h1{
	width: 6px;
	height: 6px;
	border-radius: 50%;
	background-color: #184f6b;
	margin-left :  4px;
	margin-right: 4px;
	float: left;

}
.three_bottom span{
	border: 1px solid #888888;
	width: 36px;
	float: left;
	
	margin-top: 2px;
}
.three_left{
	width: 11px;
	border-top: 1px solid #bbbbbb;
	position: absolute;
	top: -1px;
	left: 0;
	float: left;
}
.three_left1{
	width: 88px;
	height: 3px;
	border-width: 1px 0;
	border-style: solid;
	border-color: #bbbbbb;
	background-color: #333;
	position: absolute;
	top: -2px;
	left: 32px;
}
.three_right{
	width: 11px;
	border-top: 1px solid #bbbbbb;
	position: absolute;
	top: -1px;
	right: 0;
	float: left;
}
.three_right1{
	width: 88px;
	height: 3px;
	border-width: 1px 0;
	border-style: solid;
	border-color: #bbbbbb;
	background-color: #333;
	position: absolute;
	top: -2px;
	right: 36px;
}
.guanzhu{
	font-size: 12px;
    color: #fff;
    float: left;
    display: block;
}
.four_right_item:hover{
	box-shadow: 0 10px 20px 5px #ccc;
}

.zhuanye{
	cursor: pointer;
}
#sevens{
    width: 1200px;
	height: 346px;
    margin: 34px auto 0;
    position: relative;
	overflow: hidden;
}
.seven{
	position: absolute;
	top: 0px;
	left: 0px;
	opacity: 0;
	z-index: 2;
}
.seven-active{
	opacity: 1;
	z-index: 99;
}
.four_right_item_left{
	position: relative;
}
.four_right_item:hover{
	cursor: pointer;
}
.img{
	width: 152px;
	height: 228px;
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: -1;
	opacity: 0;
}
.four_right_item:hover .img{
	opacity: 1;
	z-index: 99;
}